@import './globals.scss';

.navbar {
  background-color: $base-light-color;
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.5);
  height: 52px;
  position: absolute;
  text-align: center;
  top: 312px;
  transition: 0.8s ease background-color;
  width: 100%;

  &__wrapper {
    height: 100%;
    position: relative;
  }

  &__progress {
    background-color: $base-dark-color;
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.1s ease width, 0.8s ease background-color;
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    height: 100%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: $page-width;
  }

  &__item {
    display: flex;
    flex: 1 1;
    height: calc(100% - 3px);
    flex-direction: column;

    .navbar__link {
      color: $base-dark-color;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      height: 100%;
      justify-content: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.8s ease color;
      width: 100%;
    }

    &:hover {
      border-bottom: 3px solid $highlight-color;
      cursor: pointer;
      height: 100%;

      .navbar__link {
        color: $highlight-color;
      }
    }
  }

  &--sticky {
    background-color: $base-dark-color;
    position: fixed;
    top: 0;

    .navbar {
      &__progress {
        background-color: $base-light-color;
      }

      &__link {
        color: $base-light-color;
      }

      &__item {
        &:hover {
          border-bottom: 3px solid $base-light-color;
          .navbar__link {
            color: $base-light-color;
          }
        }
      }
    }

  }
}
