* {
  box-sizing: border-box;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 68%;
  }
  50% {
    fill: rgba(255,255,255,0);
    stroke-dashoffset: 0;
  }
  100% {
    fill: rgba(255,255,255,1);
    stroke-dashoffset: 0;
    stroke-opacity: 0;
  }
}
